body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.tabs{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(45, 88, 81);
    padding: 20px;
    color: rgb(249, 255, 255);
}

#title{
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    display: flex;
    width: 550px;
    flex-direction: column;
    align-self: center;
    gap: 13px;
}

.container-screen{
    display: flex;
    background-color: rgb(201, 226, 222);
    justify-content:end;
    width: 94%;
    height: 60px;
    margin: 40px 0px 0px 0px;
    padding: 20px 30px 20px 0;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}

#screen-display{
    font-size: 50px;
    margin: 0;
}

button{
    border-radius: 10px;
    border-width: 2px;
    border-style: outset;
}

button:active{
    border-style: none;
    padding: 0 10px 10px 0;
}

.num-button{
    background-color: rgb(65, 134, 123);
    color: azure;
    border-color: rgb(74, 167, 151);
}

.op-button{
    background-color: rgb(243, 224, 118);
    color: rgb(94, 60, 29);
    border-color: rgb(247, 216, 39);
}

#result-button{
    background-color: rgb(65, 134, 123);
    color: azure;
    border-color: rgb(74, 167, 151);
}

#dec-button{
    background-color: rgb(65, 134, 123);
    color: azure;
    border-color: rgb(74, 167, 151);
}

.erase-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#clear-button{
    font-size: 34px;
    width: 70%;
    background-color: rgb(83, 187, 170);
    color: rgb(28, 58, 53);
    padding: 15px;
    border-color: rgb(107, 223, 203);;
}

#delete-button{
    width: 30%;
    font-size: 34px;
    background-color:rgb(201, 110, 74);
    color:rgb(88, 52, 38);
    border-color: rgb(236, 137, 98);;
    padding: 15px;
}

.container-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container-buttons button{
    flex: 1 1 20%;
    padding: 10px 3px;
    font-size: 30px;
}